.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert-box {
  position: fixed;
  top:30vh;
  left: 20vw;
  width: 60vw;
  padding: 12px;
  z-index: 100;
  background-color:#fff ;
  box-shadow: 0 2px 8px #00000042;
}

.alert-box-actions {
  text-align: right;
}

.event-creator-btn {
  align-items: center;
  min-width: 40px;
  height: 32px;
  background: #12141a;
  border-radius: 4px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-right: 10px;
}

.day-info-header {
  text-align: center;
}

.no-events-message {
  text-align: center;
}

.events-list {
  display: flex;
  border:4px solid #07a68c;
  margin-bottom: 10px;
  justify-content: space-between;
  border-radius: 5px;
}

.events-list-message {
  margin-left: 10px;
}

.black-btn {
  align-items: center;
  min-width: 40px;
  height: 32px;
  border-color: #12141a;
  background: #12141a;
  border-radius: 4px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-right: 10px;
  margin-top: 10px;
}

.green-btn {
  align-items: center;
  min-width: 40px;
  height: 32px;
  border-color: #07a68c;
  background: #07a68c;
  border-radius: 4px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-right: 10px;
  margin-top: 10px;
}

.week-event-info-edit {
  display: flex;
  border:4px solid #12141a;
  margin-bottom: 10px;
  justify-content: space-between;
  border-radius: 5px;
}

.editing-input {
  margin: 15px 150px 0 10px;
}

.edit-input {
  display: flex;
  flex-direction: column;
}

.edit-inputs-container {
  display: flex;
}

.select-menu {
  margin-top: 15px;
  max-height: 20px;
}

.validation-text {
  margin-left: 10px;
  color: red;
}
