table {
  width: 100%;
  border-collapse: collapse;
}

td {
  width: calc(100% / 7);
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
}
.week-event-info {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.week-event-info p {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.week-event {
  border: 1px solid rgb(7, 166, 140);
}

.week-event-name {
  font-size: 12px;
}
.week-event-navigation button {
  margin: 5px;
}
.delete-btn {
  background: rgb(7, 166, 140);
  border-color: rgb(7, 166, 140);
  border-radius: 4px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
}

.edit-btn {
  align-items: center;
  border-color: rgb(130, 57, 5);
  background: rgb(130, 57, 5);
  border-radius: 4px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
}

.save-btn
{
  border-color: rgb(7, 166, 140) ;
  background: rgb(7, 166, 140);
  border-radius: 4px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-right: 10px;
  margin-top: 10px;
}

.cancel-btn
{
  border-color: #12141a ;
  background: #12141a;
  border-radius: 4px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-right: 10px;
  margin-top: 10px;
}
.editing-input
{
  max-width: 140px;
margin: 10px 5px;
margin-bottom: 2px;
}

.week-event-info-edit
{
  border: 2px solid rgb(7, 166, 140);
}
.btn-container-edit
{
  margin-bottom: 5px;
}
.select-menu
{
  min-width: 150px;
}

.validation-text
{
  display: flex;
    margin: 3px 8px 6px 8px;
    color: red;
}